.odd{
    background-color: lightcoral;
    font-size: large;
    font-family: Verdana, "DejaVu sans", sans-serif
}
.big{
    font-size: 24px;
}
#p2{
    font-size: 36px;
    color: blue
}
#p4{
    background-color: greenyellow;
    font-size: 24px;
    font-weight: 600;
}
.dotted{
    border: dotted 5px black;
}
.xlarge{
    font-size: 36px;
    font-family: "Jacquarda Bastarda 9", serif;
}
#p7{
    border-color: red
}

