*{
    font-family: 'Gill Sans';
    background-repeat: repeat;
    font-weight: 100;
}
p{
    color: #a99ffd;
    border: 10px double black;
}
h1{
    color: black;
}
.alert{
    color: red;
    font-weight: 600;
    font-size: 30px;
}
#p1{
    border: 10px double blue;
}
#para2{
    text-align: center;
    font-size: x-large;
}