/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
    margin: 0;
    background: #eee;
    font-family: "Be Vietnam Pro", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.profile-image {
    background: #b94a5a;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    align-self: center;
}

.logo {
    color: darkseagreen;
    font-size: 32px;
    font-weight: 900;
    font-family: "Bungee Shade", sans-serif;
}

button {
    border: none;
    border-radius: 8px;
    background: darkseagreen;
    color: white;
    padding: 8px 24px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #b94a5a;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-left: 0;
}
.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.notifications {
    height: fit-content;
}

.content {
    display: flex;
}
.gallery {
    display: flex;
}
.description {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.image {
}
.label {
}
